.donate{
  position: relative;
  margin: 20px 500px;
  transition: transform 1s ease;
}

.donate:hover {
  transform: translate(-320px, 0px) scale(0.8) ;
}


.cash{
  position: relative;
  margin: 20px 500px;
  transition: transform 1s ease;
}
	
.cash:active {
  transform: rotate(-26deg) skew(15deg) scale(0.6);
}

.button {
     position: absolute;
    bottom: 20px;
    right: 20px;
}
